.container {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;

    padding: 12px 0 80px;

    display: flex;
    flex-direction: column;

    background-color: #ffffff;

    box-sizing: border-box;
}